 <nav class="navbar navbar-inverse" style="background-color: #5B5A5A;">
  <span><strong><a class="navbar-brand">Destinations</a></strong></span>
<div class="text-right">
<form method="POST" class="form-inline" action="/users/login">
    <input class="form-control mr-sm-2" type="search" placeholder="Username" aria-label="Search">
     <input class="form-control mr-sm-2" type="search" placeholder="Password" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
  </form>
  </div>
  </nav>

  <div class="wrapper">
 <strong> <h1> New? Sign Up </h1> </strong>
  <form  method="POST" class="form" action="/users/signup" >
  <div class="form-row">
    <div class="mb-3">
      <label for="validationDefault01">Full Name</label>
      <input type="text" class="form-control" id="validationDefault01" placeholder="Full name" value="Catherine FLON" required>
    </div>
     <div class="mb-3">
      <label for="validationDefault01">E-mail</label>
      <input type="text" class="form-control" id="validationDefault01" placeholder="E-mail" value="flon@ht.com" required>
    </div>
    <div class="mb-3">
      <label for="validationDefaultUsername">Username</label>
      <div class="input-group">
        <span class="input-group-addon input-group-text" id="inputGroupPrepend2">@</span>
        <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="mb-3">
      <label for="validationDefault03">City</label>
      <input type="text" class="form-control" id="validationDefault03" placeholder="City" required>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
      <label class="form-check-label" for="invalidCheck2">
        Agree to terms and conditions
      </label>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
  </div>

<div class="cf">
<img src="images/havana.jpeg" style="width:100%;">
<--img class="top" src="images/bobo.jpeg" style="width:100%; height:auto;">
<--img src="images/haiti.jpeg">
<--img src="images/borabora.jpeg">
<--img src="images/paris.jpeg">
</div>








  <--a href="/users/login">login</a>
 